{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Edit Stand</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Stand Number:</label>
        <input type="text" name="stand_number" class="form-control" value="{{ stand.stand_number }}" required>
        
        <label>Location:</label>
        <input type="text" name="location" class="form-control" value="{{ stand.location }}" required>
        
        <label>Size:</label>
        <input type="text" name="size" class="form-control" value="{{ stand.size }}" required>
        
        <label>Price:</label>
        <input type="number" name="price" class="form-control" value="{{ stand.price }}" required>
        
        <button type="submit" class="btn btn-success mt-3">Update Stand</button>
    </form>
</div>
{% endblock %}
